<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Capture a URL in Safari</title>
</head>
<body>
    <div class="wrap">
        <form name="capture" method="post" action="/url">
            <input type="text" name="url" value="http://" /><br />
            <button type="submit" name="submit" value="Capture URL">Capture URL</button>
        </form>
    </div>
</body>
</html>
